################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Magenic.ProjectHealth.Tracker/Magenic.ProjectHealth.Tracker/obj
/Magenic.ProjectHealth.Tracker/Magenic.ProjectHealth.Tracker.Database/bin/Debug
/Magenic.ProjectHealth.Tracker/Magenic.ProjectHealth.Tracker.Database/obj/Debug
/Magenic.ProjectHealth.Tracker/.vs/Magenic.ProjectHealth.Tracker/DesignTimeBuild
/Magenic.ProjectHealth.Tracker/.vs/Magenic.ProjectHealth.Tracker/v16
/Magenic.ProjectHealth.Tracker/Magenic.ProjectHealth.Tracker.Database/Magenic.ProjectHealth.Tracker.Database.dbmdl
/Magenic.ProjectHealth.Tracker/Magenic.ProjectHealth.Tracker.Database/Magenic.ProjectHealth.Tracker.Database.jfm
